# === МАКСИМАЛЬНО ЖЁСТКИЙ .gitignore ===

*.rpyc
*.rpyb
*.rpymc
*.pyo
*.pyc

cache/
saves/
gui/
libs/
ttf/
tl/
__pycache__/

log.txt
*.log
*.tmp
*.bak

# === УДАЛЯЕМ ИЗ РЕПОЗИТОРИЯ ===
images/
videos/